* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    /* color: rgba(0,0,0,.54); */
    color: rgba(0,0,0,.87);
    /* margin: 20px 27px 0px; */
    margin: 15px 30px 0px;
}
a {text-decoration: none; color: inherit;}
a:hover {text-decoration: underline; opacity: .85;}
#apps {color: #727272;}
#apps:hover {color: #000; text-decoration: none;}
.blue {color: blue;}

/* navBar START */
#navBar {
    /* float: right; */
    /* position: relative; */
    /* justify-content:flex-end; */
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content:flex-end;
    min-width: 181px; 
    font-size: 13px;
}
.m-right {
    /* border: 1px solid #000;
    background-color: chartreuse; */
    margin-right: 15px;
}
/* .itemWrapper {}
.itemWrapper:nth-child(4) {
    margin-right: 0;
} */
/* NAVBAR END */


/* CENTER START */
#center {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* row-gap: 20px; */
    row-gap: 30px;
}

/* logo START */
#logo {
    /* height: 100px; */
    /* border: 1px solid black; */
    padding-top: 115px;
    width: 100%;
}
#logo img {
    display: block;
    height: 92px;
    width: auto;
    margin: 0 auto;
    max-width: 272px;
    text-align: center;
    border: 1px dotted black;
}
/* LOGO END */


/* Search START */
#searchBar {border: 2px solid red;}
#searchInput {
    border: 1px solid yellow;
    display: flex;
}
#magnify {background-color: black; align-self: center; flex-basis: 20px;flex-grow: 0;}
#textBox {background-color: gray; flex-grow: 1;}
#textBox > input {flex-grow: 1;}
.searchButton {border: 1px dotted black;}
/* SEARCH END */

#languages {border: 1px solid black;}


/* CENTER END */

#footer {border: 1px solid black;}
#country {border: 1px solid black;}
#footerBar {border: 1px solid black;}
#left {border: 1px solid black;}
#right {border: 1px solid black;}

@media (max-width: 380px) {#navBar {display: none;}}