* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgba(0,0,0,.54);
    margin: 23px 27px;
}
a {text-decoration: none;}
a:hover {text-decoration: underline;}
/* navBar START */
#navBar {
    /* float: right; */
    /* position: relative; */
    /* justify-content:flex-end; */
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content:flex-end;
    min-width: 181px; 
    font-size: 13px;
}
.itemWrapper {
    /* border: 1px solid #000;
    background-color: chartreuse; */
    margin-right: 15px;
}
.itemWrapper {}
.itemWrapper:nth-child(4) {
    margin-right: 0;
}
/* NAVBAR END */

/* logo START */
#logo {
    height: 100px;
    width: 100%;
    border: 1px solid black;
}
#logo img {
    height: 72px;
    width: auto;
    text-align: center;
    border: 1px dotted black;
}
/* LOGO END */

/* Search START */
#searchBar {border: 2px solid red;}
#searchInput {border: 1px solid yellow;}
.searchButton {border: 1px dotted black;}
/* SEARCH END */

#languages {border: 1px solid black;}
#footer {border: 1px solid black;}
#country {border: 1px solid black;}
#footerBar {border: 1px solid black;}
#left {border: 1px solid black;}
#right {border: 1px solid black;}

@media (max-width: 380px) {#navBar {display: none;}}