* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    rgba(0,0,0,.54)
}
#center {
    display: block;
    margin: 0 auto;
    min-width: 400px;
}
#navContainer {text-align: right;}
#navBar {
    /* float: right; */
    /* position: relative; */
    /* justify-content:flex-end; */
    display: inline-flex;
    align-items: center;
    justify-content:space-between;
    min-width: 181px; 
    font-size: 13px; 
}
.navitem
#logo {
    height: 100px;
    width: 400px;
}
#logo img {
    height: 72px;
    width: auto;
    text-align: center;
}
#searchBar
#searchInput
.searchButton
#languages
#footer
#country
#footerBar
#left
#right